.container {
  display: flex;
  /* margin: 160px 0 0 100px; */
  gap: 30px;
}

.selectedImgContainer {
  width: 610px;
  height: 511px;
}

.selectedImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container .imgContainer img {
  width: 79px;
  height: 80px;
  cursor: pointer;
}
