.attr {
  display: flex;
  flex-direction: column;
}

.attrheading {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  margin-bottom: 8px;
}

.swatchbutton {
  width: 32px;
  height: 32px;
  border: none;
  /* padding: 2px; */
  /* margin-right: 8px; */
}

.activeswatch,
.swatchbutton:hover {
  cursor: pointer;
  border: 1px solid #5ece7b !important;
}

.sizebutton {
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  background: #fff;
}

.activetext,
.sizebutton:hover {
  background: #1d1f22;
  color: #fff;
  cursor: pointer;
}

.sizebuttons {
  display: flex;
  gap: 12px;
  margin-bottom: 38px;
}

.swatchbuttons {
  display: flex;
  gap: 8px;
  margin-bottom: 38px;
}
