.attributes {
  display: flex;
  flex-direction: column;
}

.attribute-heading {
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}

.swatch-button {
  width: 32px;
  height: 32px;
  border: none;
}

.modal-swatch-button {
  width: 16px;
  height: 16px;
  border: none;
}

.active-swatch,
.swatch-button:hover {
  cursor: pointer;
  border: 1px solid #fff !important;
  box-shadow: 0 0 0 1px #5ece7b;
}

.text-button {
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  background: #fff;
}

.modal-text-button {
  width: 24px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  background: #fff;
}

.modal-attribute-button {
  padding: 0 4px 0 4px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}

.active-text,
.text-button:hover,
.modal-text-button:hover,
.modal-attribute-button:hover {
  background: #1d1f22;
  color: #fff;
  cursor: pointer;
}

.text-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 38px;
}

.modal-text-buttons {
  display: flex;
  gap: 8px;
  margin: 8px 0 8px 0;
}

.swatch-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 38px;
}

.modal-swatch-buttons {
  display: flex;
  gap: 8px;
  margin: 8px 0 8px 0;
}

.modal-attribute-heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1d1f22;
}

.swatch-button[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.swatch-button[disabled]:hover {
  border: none !important;
  box-shadow: none;
}

.text-button[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
  color: #1d1f22;
  border: 1px solid rgb(29, 31, 34, 0.7);
}

.text-button[disabled]:hover {
  background: #fff;
  color: #1d1f22;
}

.white-swatch-button {
  border: 1px solid #1d1f22;
}

.white-swatch-button:hover {
  width: 31px !important;
  height: 31px !important;
  border: 1px solid #1d1f22 !important;
}

.active-white-swatch-button {
  width: 31px !important;
  height: 31px !important;
  border: 1px solid #1d1f22 !important;
  box-shadow: 0 0 0 1px #5ece7b !important;
}

.white-swatch-button[disabled]:hover {
  border: 1px solid #1d1f22 !important;
  width: 32px !important;
  height: 32px !important;
}

.selected-cart-attribute {
  pointer-events: none;
  cursor: auto;
  color: #fff;
  background: #1d1f22;
}
