.cart-item {
  padding: 24px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}

.cart-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 16px;
}

.name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 20px 0;
}

.amount-container,
.modal-amount-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.amount-container button {
  height: 45px;
  width: 45px;
}
.modal-amount-container button {
  height: 24px;
  width: 24px;
}

.amount-container button,
.modal-amount-container button {
  border: 1px solid #1d1f22;
  background: #fff;
  cursor: pointer;
}

.amount-container span {
  font-size: 24px;
}
.modal-amount-container span {
  font-size: 16px;
}

.amount-container span,
.modal-amount-container span {
  line-height: 160%;
  text-align: center;
  font-weight: 500;
}

.amount-gallery {
  display: flex;
  gap: 24px;
}

.modal-amount-gallery {
  display: flex;
  gap: 8px;
}

.modal-cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 1px;
}

.modal-cart-item-length {
  min-height: 265px;
}

.modal-name,
.modal-brand {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}

.modal-item-heading {
  height: 52px;
  line-height: 160%;
}

.modal-price {
  height: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin: 4px 0 8px 0;
}

.minus-button,
.plus-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-button {
  position: relative;
}

.plus {
  position: absolute;
  left: 17px;
  transform: rotate(90deg);
}

.modal-plus {
  position: absolute;
  left: 11px;
  transform: rotate(90deg);
}

@media (max-width: 815px) {
  .cart-item {
    flex-direction: column;
  }
}
