.cartitem {
  padding: 24px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}

.cartitem:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.brand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  margin-bottom: 16px;
}

.name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}

.price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d1f22;
  margin: 20px 0;
}

.itemdetailsamount {
  height: auto;
}

.amountcontainer,
.modalamountcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.amountcontainer button {
  height: 45px;
  width: 45px;
  border: 1px solid #1d1f22;
  background: #fff;
  cursor: pointer;
}
.modalamountcontainer button {
  height: 24px;
  width: 24px;
  border: 1px solid #1d1f22;
  background: #fff;
  cursor: pointer;
}

.amountcontainer span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;

  color: #1d1f22;
}
.modalamountcontainer span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;

  color: #1d1f22;
}

.amountgallery {
  display: flex;
  gap: 24px;
}

.modalamountgallery {
  display: flex;
  gap: 8px;
  height: auto;
}

.modalcartitem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 1px;
  /* padding: 20px 0; */
  /* height: 300px; */
  /* width: 293px; */
}

.modalcartitemlength {
  min-height: 265px;
}

.modalname,
.modalbrand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  /* 
display: flex;
align-items: center; */

  color: #1d1f22;
}

.modalitemheading {
  height: 52px;
  line-height: 160%;
}

.modalprice {
  height: 26px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin: 4px 0 8px 0;
}

.minusbutton,
.plusbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusbutton {
  position: relative;
}

.plus {
  position: absolute;
  left: 17px;
  transform: rotate(90deg);
}

.modalplus {
  position: absolute;
  left: 11px;
  transform: rotate(90deg);
}
