.containercart {
  margin: 160px 100px;
}

.heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1d1f22;
  margin-bottom: 55px;
}
.totalcontainer {
  margin: 32px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carttotals {
  display: flex;
  gap: 6px;
  margin: 32px 0 16px 0;
}

.carttotal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carttotal p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
}

.carttotal p:last-child {
  font-weight: 500;
}
