.cart-container {
  margin: 160px 100px;
}

.heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.cart-totals {
  display: flex;
  gap: 6px;
  margin: 32px 0 16px 0;
}

.cart-total-headings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-total-headings p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.cart-total-headings p:last-child {
  font-weight: 500;
}
