.total {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.total p {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.total-amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}
