.attribute-heading {
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}

.swatch-buttons {
  display: flex;
  gap: 8px;
}

.modal-swatch-buttons {
  display: flex;
  gap: 8px;
  margin: 8px 0 8px 0;
}

.swatch-button {
  width: 32px;
  height: 32px;
  border: none;
}

.modal-swatch-button {
  width: 16px;
  height: 16px;
  border: none;
}

.active-swatch {
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #5ece7b;
}

.swatch-button[disabled] {
  cursor: auto;
  pointer-events: none;
}

.text-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 38px;
}

.modal-text-buttons {
  display: flex;
  gap: 8px;
  margin: 8px 0 8px 0;
}

.text-button {
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.text-button[disabled] {
  opacity: 0.7;
  cursor: auto;
  pointer-events: none;
}

.modal-text-button {
  width: 24px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  background: #fff;
}

.active-text {
  background: #1d1f22;
  color: #fff;
  cursor: pointer;
}

.modal-attribute-button {
  padding: 0 4px 0 4px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}

.modal-attribute-heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1d1f22;
}

.white-swatch-button {
  border: 1px solid #1d1f22;
}

.selected-cart-attribute {
  color: #fff;
  background: #1d1f22;
}

.selected-swatch-attribute {
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #5ece7b;
}

.active-white-swatch-button {
  width: 31px;
  height: 31px;
  border: 1px solid #1d1f22;
  box-shadow: 0 0 0 1px #5ece7b;
}

.modal-active-white-swatch-button {
  width: 15px;
  height: 15px;
  border: 1px solid #1d1f22;
  box-shadow: 0 0 0 1px #5ece7b;
}
