.bag-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
}

.items-amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
}

.modal-heading {
  margin-bottom: 32px;
}

.cart-modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 12px;
}

.view-bag-button {
  width: 140px;
  height: 43px;
  background: #fff;
  border: 1px solid #1d1f22;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
}

.view-bag-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-top: 41px;
}
