.title {
  font-weight: 400;
  font-size: 42px;
  margin-top: 160px;
  margin-left: 101px;
  text-transform: capitalize;
}

.products {
  max-width: 1238px;
  margin: 103px auto 191px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 103px;
  column-gap: 40px;
  justify-items: center;
}

@media (max-width: 1345px) {
  .products {
    max-width: 850px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 920px) {
  .products {
    grid-template-columns: 1fr;
  }
}
