.nav {
  margin-top: 28px;
  width: 204px;
}

.nav-buttons {
  display: flex;
  list-style-type: none;
}

.nav-button {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  padding: 0 16px 32px 16px;
  border: none;
  background: #fff;
  text-decoration: none;
  color: #1d1f22;
}
.nav-button:hover {
  cursor: pointer;
  color: #5ece7b;
}

.active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
  font-weight: 600;
}
