.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: #fff;
  cursor: pointer;
  padding: 8px 0 8px 0;
}

.symbol {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
