.button {
  border: none;
  padding: 16px 32px;
  width: 292px;
  height: 52px;
  background: #5ece7b;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

/* .button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} */
